*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
p{
    font-size: 1.6rem; /*REM siempre referencia al tamaño de la etiqueta de HTML*/
}
.main div{
    font-size: 1.6rem;
}